body{
		width:100%;
		height:2388px;
		margin:0;
		font-family: 'Roboto', sans-serif;
		font-size:16px
	}
a:hover{	
			text-decoration: none !important;
		}
a 		{
			text-decoration: none !important;
		}
a:link {
		text-decoration: none;
		}
a:visited {
			text-decoration: none;
		  }
header {
			width:100%;
			height:10%;
			margin:auto;
			background-color:#569c87;
		}

header h1{
			display: block;
			margin:0;
			margin-left: auto;
			margin-right: auto;
			padding-top:3%;
			padding-bottom:3%;
			font-family: 'Montserrat', sans-serif;
			font-size:5.9375rem;
			text-align:center;
			color: #fcc946;
			letter-spacing: -2px;
		}
h1 a 	{
		color: #fcc946;
		}
main {
		width:78%;
		height:90%;
		padding-top:4%;
		padding-right:11%;
		padding-left:11%;
	}
.menu{
		display: -webkit-flex;
		display: flex;
		width:100%;
		height:85%;
		margin:auto;
		flex-direction:row;
		flex-wrap: wrap;
		flex-wrap: -webkit-wrap;
		align-items:center;
		align-content:center;
		justify-content:center;
	}
.menu_contenu {
				width:46%;
				height:48%;
				text-align:center;
				order:0;
				flex-grow:1;
				flex-shrink:1;
				flex-basis:auto;
				align-self:stretch;
				overflow: hidden;
				-webkit-box-shadow: 0px 0px 17px #e0e0e0;
				-moz-box-shadow: 0px 0px 17px #e0e0e0;
				box-shadow: 0px 0px 17px #e0e0e0;
			}
.menu_contenu--bas{
					margin-top:4%;
					}
.menu_contenu--gauche{
						margin-right:4%;
					}
.menu_contenu--droit{
						margin-left:4%;
					}
.menu_contenu--note{
						display: -webkit-flex;
						display: flex;
						width:100%;
						height:100%;
						background-color:#fcdeda;
						flex-direction:column;
						justify-content:center;
						transform: scale(1);
						transition: transform 400ms ease-in-out;
						opacity: 1;
					}
.menu_contenu--note:hover{
							transform: scale(1.5);
							opacity: 0.5;
}
.menu_contenu--note i{
						background: linear-gradient(to right, #f05261 0%, #f6916a 100%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						font-size:4.5625rem;
					}
.menu_contenu--note h2{
						margin:0;
						color:#3c1217;
						font-family: 'Devonshire', cursive;
						font-size:2.875rem;
}
.menu_contenu--note h3{
						color:#3c1217;
			font-family: 'Segoe Print';
font-size:3.625rem;
text-transform:uppercase;
}
.menu_contenu--chic{
display: -webkit-flex;
display: flex;
width:100%;
height:100%;
background-color:#fff5fe;
flex-direction:column;
justify-content:center;
transform: scale(1);
transition: transform 400ms ease-in-out;
opacity: 1;
}
.menu_contenu--chic:hover{
transform: scale(1.5);
opacity: 0.5;
}
.menu_contenu--chic h2{
margin:0;
background: linear-gradient(to right, #d1823f 0%, #9661ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color:#3c1217;
font-family: 'Croissant One', cursive;
font-size:2.1875rem;
}
.menu_contenu--chic h3{
color:#d1823f;
font-family: 'Time New Roman';
font-size:4.1875rem;
text-transform:uppercase;
}
.menu_contenu--delice{
display: -webkit-flex;
display: flex;
width:100%;
height:100%;
background-color:#f9f9f9;
flex-direction:column;
justify-content:center;
transform: scale(1);
transition: transform 400ms ease-in-out;
opacity: 1;
}
.menu_contenu--delice:hover{
transform: scale(1.5);
opacity: 0.5;
}
.menu_contenu--delice h2{
margin:0;
background: linear-gradient(to right, #1e45ce 0%, #6dacef 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color:#128efa;
font-family: 'Dancing Script', cursive;
font-size:3.375rem;
}
.menu_contenu--delice h3{
color:#128efa;
font-family: 'Segoe Print';
font-size:3.625rem;
text-transform:capitalize;
}
.menu_contenu--palette{
display: -webkit-flex;
display: flex;
width:100%;
height:100%;
background-color:#fdfffd;
flex-direction:column;
justify-content:center;
transform: scale(1);
transition: transform 400ms ease-in-out;
}
.menu_contenu--palette:hover{
transform: scale(1.5);
opacity: 0.5;
}
.menu_contenu--palette h2{
margin:0;
background: linear-gradient(to right, #459637 0%, #d5ffa0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color:#3c1217;
font-family: 'Kaushan Script', cursive;
font-size:3.125rem;
}
.menu_contenu--palette h3{
color:#459637;
font-family: 'Segoe Print';
font-size:3.625rem;
text-transform:capitalize;
}
.prochainement{
text-align:center;
height:6%;
margin-top:4%;
margin-bottom:4%;
}
.prochainement h2 {
width:41%;
display: inline;
background-color: #579c87;
color: #fdcb46;
font-family: Arial;
padding: 8px 3% 12px 3%;
border-radius: 10px;
font-size:4.125rem;
text-align:center;
}
.prochainement i {
 overflow: hidden;    
color: #fcc946; 
font-size: 11px;
}
.un{
    animation: opacite 2s ease-in-out 2s infinite  alternate;
}
.deux{
    animation: opacite 3s ease-in-out 3s infinite  alternate;
}
.trois{
    animation: opacite 4s ease-in-out 4s infinite  alternate;
}
@keyframes opacite{
    from{opacity: 0.2;}
    50%{opacity: 0.7;}
    to{opacity: 1;}
}
/* footer */
footer {
display: -webkit-flex;
display: flex;
width:100%;
height:6%;
background-color: #579c87;
position: fixed;
bottom: 0;
justify-content: space-between;
align-items:center;
align-content:center;
}
@keyframes shake {
	from{
		transform: translateX(0px);
	}
	to{
		transform: translateX(11px);
transform-origin: left center;

	  }
}
footer a {
color: #fcc946;
font-size:1.5rem;
text-decoration: none;
}
.contact {
margin-left:2%;
text-align: left;
}

.contact:hover{
animation:shake .1s ease-in-out .1s infinite alternate;
}

.mentions {
margin-right:2%;
text-align: right;
}

.mentions:hover{
animation:shake .1s ease-in-out .1s infinite alternate;
}
/* Media queries */
@media screen and (max-width:1750px) {
.menu_contenu--note i{
font-size:3.5rem;
}
.menu_contenu--note h2{
font-size:2.575rem;
}
.menu_contenu--note h3{
font-size:2.625rem;
}
.menu_contenu--chic h2{
font-size:1.1rem;
}
.menu_contenu--chic h3{
font-size:3.0rem;
}
.menu_contenu--delice h2{
font-size:2.2rem;
}
.menu_contenu--delice h3{
font-size:2.625rem;
}
.menu_contenu--palette h2{
font-size:2.2rem;
}
.menu_contenu--palette h3{
font-size:2.625rem;
}
}
@media screen and (max-width: 1199px) {
body{
width:100%;
height:1909px;
}
.menu_contenu--note i{
font-size:3.5rem;
}
.menu_contenu--note h2{
font-size:2.575rem;
}
.menu_contenu--note h3{
font-size:2.625rem;
}
.menu_contenu--chic h2{
font-size:1.1rem;
}
.menu_contenu--chic h3{
font-size:3.0rem;
}
.menu_contenu--delice h2{
font-size:1.9rem;
}
.menu_contenu--delice h3{
font-size:2.625rem;
}
.menu_contenu--palette h2{
font-size:1.9rem;
}
.menu_contenu--palette h3{
font-size:2.625rem;
}
}
@media screen and (max-width: 991px) {
body{
width:100%;
height:1578px;
}
.menu_contenu--note i{
font-size:3.0rem;
}
.menu_contenu--note h2{
font-size:2.0rem;
}
.menu_contenu--note h3{
font-size:2.0rem;
}
.menu_contenu--chic h2{
font-size:15px;
}
.menu_contenu--chic h3{
font-size:3.0rem;
}
.menu_contenu--delice h2{
font-size:1.4rem;
}
.menu_contenu--delice h3{
font-size:2.0rem;
}
.menu_contenu--palette h2{
font-size:1.4rem;
}
.menu_contenu--palette h3{
font-size:2.0rem;
}
}
@media screen and (max-width: 767px) {
body{
width:100%;
height:1221px;
}
header h1{
font-size:4rem;
}
.menu_contenu--note i{
font-size:2.3rem;
}
.menu_contenu--note h2{
font-size:1.5rem;
}
.menu_contenu--note h3{
font-size:1.8rem;
}
.menu_contenu--chic h2{
font-size:12px;
}
.menu_contenu--chic h3{
font-size:1.8rem;
}
.menu_contenu--delice h2{
font-size:1.1rem;
}
.menu_contenu--delice h3{
font-size:1.8rem;
}
.menu_contenu--palette h2{
font-size:1.1rem;
}
.menu_contenu--palette h3{
font-size:1.8rem;
}
.prochainement h2 {
font-size:2.5rem;
}
.prochainement i {; 
font-size: 11px;
}
}
@media screen and (max-width: 609px) {
body{
width:100%;
height:1221px;
}
header h1{
font-size:2.9rem;
}
.menu_contenu--note i{
font-size:1.8rem;
}
.menu_contenu--note h2{
font-size:16px;
}
.menu_contenu--note h3{
font-size:16px;
}
.menu_contenu--chic h2{
font-size:11px;
}
.menu_contenu--chic h3{
font-size:16px;
}
.menu_contenu--delice h2{
font-size:14px;
}
.menu_contenu--delice h3{
font-size:16px;
}
.menu_contenu--palette h2{
font-size:14px;
}
.menu_contenu--palette h3{
font-size:16px;
}
}
@media screen and (max-width: 569px) {
body{
width:100%;
height:1221px;
}
header h1{
font-size:2.9rem;
}
.menu_contenu--note i{
font-size:1.8rem;
}
.menu_contenu--note h2{
font-size:16px;
}
.menu_contenu--note h3{
font-size:16px;
}
.menu_contenu--chic h2{
font-size:9px;
}
.menu_contenu--chic h3{
font-size:16px;
}
.menu_contenu--delice h2{
font-size:14px;
}
.menu_contenu--delice h3{
font-size:16px;
}
.menu_contenu--palette h2{
font-size:14px;
}
.menu_contenu--palette h3{
font-size:16px;
}
}
@media screen and (max-width: 462px) {
body{
width:100%;
height:1221px;
}
header h1{
font-size:2.9rem;
}
.menu_contenu--note i{
font-size:1.8rem;
}
.menu_contenu--note h2{
font-size:16px;
}
.menu_contenu--note h3{
font-size:16px;
}
.menu_contenu--chic h2{
font-size:14px;
}
.menu_contenu--chic h3{
font-size:16px;
}
.menu_contenu--delice h2{
font-size:16px;
}
.menu_contenu--delice h3{
font-size:16px;
}
.menu_contenu--palette h2{
font-size:14px;
}
.menu_contenu--palette h3{
font-size:16px;
}
}
@media screen and (max-width: 452px) {
body{
width:100%;
height:auto;
margin:0;
font-family: 'Roboto', sans-serif;
font-size:16px
}
body{
height:auto;
}
header h1{
font-size:2.9rem;
}
main {
width:78%;
height:auto;
margin-bottom:30px;
padding-top:4%;
padding-right:11%;
padding-left:11%;
}
.menu{
display: -webkit-flex;
display: flex;
width:100%;
height:85%;
margin:auto;
flex-direction:column;
flex-wrap: nowrap;
flex-wrap: -webkit-nowrap;
align-items:center;
align-content:center;
justify-content:center;
}
.menu_contenu {
display:block;
width:221px;
height:315px;
margin-bottom:10px;
align-self:center;
}
.menu_contenu--bas{
margin-top:0;
}
.menu_contenu--gauche{
margin-right:0;
}
.menu_contenu--droit{
margin-left:0;
}
.menu_contenu--note i{
font-size:2.3rem;
}
.menu_contenu--note h2{
font-size:1.5rem;
}
.menu_contenu--note h3{
font-size:1.8rem;
}
.menu_contenu--chic h2{
font-size:0.77rem;
}
.menu_contenu--chic h3{
font-size:1.8rem;
}
.menu_contenu--delice h2{
font-size:1.1rem;
}
.menu_contenu--delice h3{
font-size:1.8rem;
}
.menu_contenu--palette h2{
font-size:1.1rem;
}
.menu_contenu--palette h3{
font-size:1.8rem;
}
.prochainement{
text-align:center;
height:30px;
margin-top:30px;
margin-bottom:80px;
}
.prochainement h2 {
width:200px;
font-size:1.5rem;
}
.prochainement i {; 
font-size: 7px;
}
footer a {
font-size:16px;
}
}
@media screen and (max-width: 271px) {
body{
width:100%;
height:auto;
margin:0;
font-family: 'Roboto', sans-serif;
font-size:16px
}
body{
height:auto;
}
header h1{
font-size:2.0rem;
}
main {
width:78%;
height:auto;
margin-bottom:30px;
padding-top:4%;
padding-right:11%;
padding-left:11%;
}
.menu{
display: -webkit-flex;
display: flex;
width:100%;
height:85%;
margin:auto;
flex-direction:column;
flex-wrap: nowrap;
flex-wrap: -webkit-nowrap;
align-items:center;
align-content:center;
justify-content:center;
}
.menu_contenu {
display:block;
width:221px;
height:315px;
margin-bottom:10px;
align-self:center;
}
.menu_contenu--bas{
margin-top:0;
}
.menu_contenu--gauche{
margin-right:0;
}
.menu_contenu--droit{
margin-left:0;
}
.menu_contenu--note i{
font-size:2.3rem;
}
.menu_contenu--note h2{
font-size:1.5rem;
}
.menu_contenu--note h3{
font-size:1.8rem;
}
.menu_contenu--chic h2{
font-size:0.77rem;
}
.menu_contenu--chic h3{
font-size:1.8rem;
}
.menu_contenu--delice h2{
font-size:1.1rem;
}
.menu_contenu--delice h3{
font-size:1.8rem;
}
.menu_contenu--palette h2{
font-size:1.1rem;
}
.menu_contenu--palette h3{
font-size:1.8rem;
}
.prochainement{
text-align:center;
height:30px;
margin-top:30px;
margin-bottom:80px;
}
.prochainement h2 {
width:200px;
font-size:1rem;
}
.prochainement i {; 
font-size: 7px;
}
footer a {
font-size:0.7rem;
}
}

