body{
width:100%;
height:2253px;
margin:0;
font-family: Segoe Print;
color:#000;
}
a:hover{text-decoration: none !important;}
a {text-decoration: none !important;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
header {
width:100%;
height:11%;
margin:auto;
background-color:#569c87;
}

header h1{
display: block;
margin:0;
display: block;
margin-right: auto;
margin-left: auto;
padding-top:3%;
padding-bottom:3%;
font-family: 'Montserrat', sans-serif;
font-size:95px;
text-align:center;
color: #fcc946;
letter-spacing: -2px;
}
h1 a {
color: #fcc946;
}
main{
width:80%;
height:89%;
margin-top:5%;
margin-right:10%;
margin-left:10%;
}
h2{
font-family: 'Roboto', sans-serif;
font-size:65px;
text-align:center;
}
.conteneur{
width:100%;
height:100%;
overflow:hidden;
margin-top:5%;
margin-bottom:7%;
background-color:#fcdeda;
color:#3c1217;
-webkit-box-shadow: 0px 0px 17px #e0e0e0;
-moz-box-shadow: 0px 0px 17px #e0e0e0;
box-shadow: 0px 0px 17px #e0e0e0;
}
.menu {
padding: 5% 10% 7% 10%;
text-align:center;
}
.menu i{
margin:auto;
background: linear-gradient(to right, #f05a60 0%, #f78e69 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size:122px;
text-align:center;
}
.menu h2{
font-family: 'Devonshire', cursive;
font-size:72px;
}
.menu_titre{
display: -webkit-flex;
display: flex;
margin-top:7%;
flex-direction:row;
flex-wrap: nowrap;
align-items:center;
align-content:center;
justify-content:center;
}
.menu_titre--g{
width:25%;
margin-right:0;
order:0;
flex-grow:1;
flex-shrink:1;
flex-basis:auto;
align-self:auto;
}
h3{
margin:auto;
font-size:35px;
font-weight:bold;
text-align:center;
order:0;
flex-grow:2;
flex-shrink:1;
flex-basis:auto;
align-self:auto;
}
h3 a {
  color: #000;
  display: inline-block;
  position: relative;
}

/*effect-underline*/
a.soulignement:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1.1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	transform-origin: left center;
}

a.soulignement:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	transform-origin: left center;
}


.menu_titre--d{
width:25%;
margin-left:0;
order:0;
flex-grow:1;
flex-shrink:1;
flex-basis:auto;
align-self:auto;
}
section{
display: -webkit-flex;
display: flex;
margin:auto;	
font-size:24px;
text-align:left;
flex-direction:row;
flex-wrap: nowrap;
align-items:center;
align-content:center;
justify-content:center;
}
.menu_description{
width:90%;
margin-left:0;
text-align:left;	
order:0;
flex-grow:0;
flex-shrink:1;
flex-basis:auto;
align-self:auto;
}
.menu_description--dessert{
width:100%;
}
.menu_prix{
width:10%;
margin-right:0;
font-size:35px;
font-weight:bold;	
text-align:right;
order:0;
flex-grow:0;
flex-shrink:1;
flex-basis:auto;
align-self:auto;
}
p{
margin-top:2%;;
}
.menu_footer{
font-family: 'Devonshire', cursive;
font-size:60px;
}
.menu_footer i{
margin:auto;
font-size:65px;
text-align:center;
background: linear-gradient(to right, #f05a60 0%, #f78e69 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/* footer */
footer {
width:100%;
height:6%;
background-color: #569c87;
position: fixed;
left: 0;
bottom: 0;
font-family: 'Roboto', sans-serif;
}
@keyframes shake {
	from{
		transform: translateX(0px);
	}
	to{
		transform: translateX(11px);
transform-origin: left center;

	  }
}
footer a {
color: #fcc946;
font-size:1.5em;
text-decoration: none;
}
.contact {
float:left;
width:27%;
margin-left:2%;
padding-top:1%;
text-align: left;
}

.contact:hover{
animation:shake .1s ease-in-out .1s infinite alternate;
}

.mentions {
width:26%;
margin-left: 70%;
padding-top:1%;
text-align: right;
}

.mentions:hover{
animation:shake .1s ease-in-out .1s infinite alternate;
}