body{
width:100%;
height:2388px;
margin:0;
font-family: 'Roboto', sans-serif;
}
a:hover{text-decoration: none !important;}
a {text-decoration: none !important;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
header {
width:100%;
height:10%;
margin:auto;
background-color:#569c87;
}

header h1{
display: block;
margin:0;
margin-left: auto;
margin-right: auto;
padding-top:3%;
padding-bottom:3%;
font-family: 'Montserrat', sans-serif;
font-size:95px;
text-align:center;
color: #fcc946;
letter-spacing: -2px;
}
h1 a {
color: #fcc946;
}
main {
width:78%;
height:90%;
padding-top:4%;
padding-right:11%;
padding-left:11%;
}
.menu{
display: -webkit-flex;
display: flex;
width:100%;
height:85%;
margin:auto;
flex-direction:row;
flex-wrap: wrap;
flex-wrap: -webkit-wrap;
align-items:center;
align-content:center;
justify-content:center;
}
.menu_contenu {
width:46%;
height:48%;
text-align:center;
order:0;
flex-grow:1;
flex-shrink:1;
flex-basis:auto;
align-self:stretch;
overflow: hidden;
-webkit-box-shadow: 0px 0px 17px #e0e0e0;
-moz-box-shadow: 0px 0px 17px #e0e0e0;
box-shadow: 0px 0px 17px #e0e0e0;
}
.menu_contenu--bas{
margin-top:4%;
}
.menu_contenu--gauche{
margin-right:4%;
}
.menu_contenu--droit{
margin-left:4%;
}
.menu_contenu--note{
display: -webkit-flex;
display: flex;
width:100%;
height:100%;
background-color:#fcdeda;
flex-direction:column;
justify-content:center;
transform: scale(1);
transition: transform 400ms ease-in-out;
opacity: 1;
}
.menu_contenu--note:hover{
transform: scale(1.5);
opacity: 0.5;
}
.menu_contenu--note i{
background: linear-gradient(to right, #f05261 0%, #f6916a 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size:60px;
}
.menu_contenu--note h2{
margin:0;
color:#3c1217;
font-family: 'Devonshire', cursive;
font-size:2.875em;
}
.menu_contenu--note h3{
color:#3c1217;
font-family: Segoe Print;
font-size:3.625em;
text-transform:uppercase;
}
.menu_contenu--chic{
display: -webkit-flex;
display: flex;
width:100%;
height:100%;
background-color:#fff5fe;
flex-direction:column;
justify-content:center;
transform: scale(1);
transition: transform 400ms ease-in-out;
opacity: 1;
}
.menu_contenu--chic:hover{
transform: scale(1.5);
opacity: 0.5;
}
.menu_contenu--chic h2{
margin:0;
background: linear-gradient(to right, #d1823f 0%, #9661ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color:#3c1217;
font-family: 'Croissant One', cursive;
font-size:35px;
}
.menu_contenu--chic h3{
color:#d1823f;
font-family: Time New Roman;
font-size:60px;
text-transform:uppercase;
}
.menu_contenu--delice{
display: -webkit-flex;
display: flex;
width:100%;
height:100%;
background-color:#f9f9f9;
flex-direction:column;
justify-content:center;
transform: scale(1);
transition: transform 400ms ease-in-out;
opacity: 1;
}
.menu_contenu--delice:hover{
transform: scale(1.5);
opacity: 0.5;
}
.menu_contenu--delice h2{
margin:0;
background: linear-gradient(to right, #1e45ce 0%, #6dacef 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color:#128efa;
font-family: 'Dancing Script', cursive;
font-size:35px;
}
.menu_contenu--delice h3{
color:#128efa;
font-family: Segoe Print;
font-size:60px;
text-transform:uppercase;
}
.menu_contenu--palette{
display: -webkit-flex;
display: flex;
width:100%;
height:100%;
background-color:#fdfffd;
flex-direction:column;
justify-content:center;
transform: scale(1);
transition: transform 400ms ease-in-out;
}
.menu_contenu--palette:hover{
transform: scale(1.5);
opacity: 0.5;
}
.menu_contenu--palette h2{
margin:0;
background: linear-gradient(to right, #459637 0%, #d5ffa0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color:#3c1217;
font-family: 'Kaushan Script', cursive;
font-size:35px;
}
.menu_contenu--palette h3{
color:#459637;
font-family: Segoe Print;
font-size:60px;
text-transform:uppercase;
}
.prochainement{
text-align:center;
height:6%;
}
.prochainement h2 {
width:41%;
margin-top:4%;
margin-right:28%;
margin-bottom:4%;
margin-left:28%;
background-color:#569c87;
border-radius: 10rem;
color: #fcc946;
font-size:40px;
text-align:center;
}
.prochainement i {
 overflow: hidden;    
color: #fcc946; 
font-size: 11px;
}
.un{
    animation: opacite 2s ease-in-out 2s infinite  alternate;
}
.deux{
    animation: opacite 3s ease-in-out 3s infinite  alternate;
}
.trois{
    animation: opacite 4s ease-in-out 4s infinite  alternate;
}
@keyframes opacite{
    from{opacity: 0.2;}
    50%{opacity: 0.7;}
    to{opacity: 1;}
}
/* footer */
footer {
width:100%;
height:6%;
background-color: #569c87;
position: fixed;
left: 0;
bottom: 0;
}
@keyframes shake {
	from{
		transform: translateX(0px);
	}
	to{
		transform: translateX(11px);
transform-origin: left center;

	  }
}
footer a {
color: #fcc946;
font-size:1.5em;
text-decoration: none;
}
.contact {
float:left;
width:27%;
margin-left:2%;
padding-top:1%;
text-align: left;
}

.contact:hover{
animation:shake .1s ease-in-out .1s infinite alternate;
}

.mentions {
width:26%;
margin-left: 70%;
padding-top:1%;
text-align: right;
}

.mentions:hover{
animation:shake .1s ease-in-out .1s infinite alternate;
}

@media screen and (max-width: 991px) {
body{
width:100%;
height:100%;
margin:0;
font-family: 'Roboto', sans-serif;
}
.menu{
display: block;
width:100%;
height:85%;
margin:auto;
}
.menu_contenu {
width:100%;
height 100%;
text-align:center;
overflow: hidden;
-webkit-box-shadow: 0px 0px 17px #e0e0e0;
-moz-box-shadow: 0px 0px 17px #e0e0e0;
box-shadow: 0px 0px 17px #e0e0e0;
}
.menu_contenu--bas{
margin-top:auto;
}
.menu_contenu--gauche{
margin-right:auto;
}
.menu_contenu--droit{
margin-left:auto;
}
.menu_contenu--note{
display: box;
width:100%;
height:100%;
background-color:#fcdeda;
transform: scale(1);
transition: transform 400ms ease-in-out;
opacity: 1;
}
.menu_contenu--note:hover{
transform: scale(1.5);
opacity: 0.5;
}
.menu_contenu--note i{
background: linear-gradient(to right, #f05a60 0%, #f78e69 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size:60px;
}
.menu_contenu--note h2{
margin:0;
color:#3c1217;
font-family: 'Devonshire', cursive;
font-size:35px;
}
.menu_contenu--note h3{
color:#3c1217;
font-family: Segoe Print;
font-size:60px;
text-transform:uppercase;
}
.menu_contenu--chic{
display: box;
width:100%;
height:100%;
background-color:#fff5fe;
transform: scale(1);
transition: transform 400ms ease-in-out;
opacity: 1;
}
.menu_contenu--chic:hover{
transform: scale(1.5);
opacity: 0.5;
}
.menu_contenu--chic h2{
margin:0;
background: linear-gradient(to right, #d1823f 0%, #9661ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color:#3c1217;
font-family: 'Croissant One', cursive;
font-size:35px;
}
.menu_contenu--chic h3{
color:#d1823f;
font-family: Time New Roman;
font-size:60px;
text-transform:uppercase;
}
.menu_contenu--delice{
display: box;
width:100%;
height:100%;
background-color:#f9f9f9;
transform: scale(1);
transition: transform 400ms ease-in-out;
opacity: 1;
}
.menu_contenu--delice:hover{
transform: scale(1.5);
opacity: 0.5;
}
.menu_contenu--delice h2{
margin:0;
background: linear-gradient(to right, #1e45ce 0%, #6dacef 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color:#128efa;
font-family: 'Dancing Script', cursive;
font-size:35px;
}
.menu_contenu--delice h3{
color:#128efa;
font-family: Segoe Print;
font-size:60px;
text-transform:uppercase;
}
.menu_contenu--palette{
display: box;
width:100%;
height:100%;
background-color:#fdfffd;
transform: scale(1);
transition: transform 400ms ease-in-out;
}
.menu_contenu--palette:hover{
transform: scale(1.5);
opacity: 0.5;
}
.menu_contenu--palette h2{
margin:0;
background: linear-gradient(to right, #459637 0%, #d5ffa0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color:#3c1217;
font-family: 'Kaushan Script', cursive;
font-size:35px;
}
.menu_contenu--palette h3{
color:#459637;
font-family: Segoe Print;
font-size:60px;
text-transform:uppercase;
}
.prochainement{
text-align:center;
}
.prochainement h2 {
height:6%;
width:41%;
margin-right:28%;
margin-left:28%;
padding-top:4%;
padding-bottom:4%;
background-color:#569c87;
border-radius: 10rem;
color: #fcc946;
font-size:40px;
text-align:center;
}
}