body{
width:100%;
height:2388px;
margin:0;
font-family: 'Roboto', sans-serif;
font-size:16px
}
a:hover{text-decoration: none !important;}
a {text-decoration: none !important;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
header {
width:100%;
height:10%;
margin:auto;
background-color:#569c87;
}

header h1{
display: block;
margin:0;
margin-left: auto;
margin-right: auto;
padding-top:3%;
padding-bottom:3%;
font-family: 'Montserrat', sans-serif;
font-size:5.9375rem;
text-align:center;
color: #fcc946;
letter-spacing: -2px;
}
h1 a {
color: #fcc946;
}
main {
width:78%;
height:90%;
padding-top:4%;
padding-right:11%;
padding-left:11%;
}


/* footer */
footer {
display: -webkit-flex;
display: flex;
width:100%;
height:6%;
background-color: #579c87;
position: fixed;
bottom: 0;
justify-content: space-between;
align-items:center;
align-content:center;
}
@keyframes shake {
	from{
		transform: translateX(0px);
	}
	to{
		transform: translateX(11px);
transform-origin: left center;

	  }
}
footer a {
color: #fcc946;
font-size:1.5rem;
text-decoration: none;
}
.contact {
margin-left:2%;
text-align: left;
}

.contact:hover{
animation:shake .1s ease-in-out .1s infinite alternate;
}

.mentions {
margin-right:2%;
text-align: right;
}

.mentions:hover{
animation:shake .1s ease-in-out .1s infinite alternate;
}
@media screen and (max-width: 479px) {
body{
height:auto;
}
header h1{
font-size:2.9rem;
}
h2{
font-size:2.0rem;
}
.menu h2{
font-size:1.9rem;
}
h3{
font-size:1rem;
}
.menu_titre--g{
width:15%;
}
.menu_titre--d{
width:15%;
}
section{
font-size:16px;
}
.menu_prix{
font-size:16px;
}
.menu_prix p{
padding-bottom:100%;
}
footer a {
color: #fcc946;
font-family: 'Roboto', sans-serif;
font-size:16px;
text-decoration: none;
}
}
@media screen and (max-width: 625px) {
body{
height:auto;
}
header h1{
font-size:2.9rem;
}
h2{
font-size:2.0rem;
}
.menu h2{
font-size:1.9rem;
}
h3{
font-size:1rem;
}
.menu_titre--g{
width:15%;
}
.menu_titre--d{
width:15%;
}
section{
font-size:16px;
}
.menu_prix{
font-size:16px;
}
.menu_prix p{
padding-bottom:100%;
}
footer a {
color: #fcc946;
font-family: 'Roboto', sans-serif;
font-size:16px;
text-decoration: none;
}
}
@media screen and (max-width: 991px) {
body{
height:auto;
}
header h1{
font-size:2.9rem;
}

footer a {
color: #fcc946;
font-family: 'Roboto', sans-serif;
font-size:16px;
text-decoration: none;
}
}